<!-- FOOTER -->
<footer>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <small><a class="nav-link text-muted" href="https://www.linkedin.com/in/jhunschejones">LinkedIn</a></small>
        </li>
        <li class="nav-item">
            <small><a class="nav-link text-muted" href="https://github.com/jhunschejones">GitHub</a></small>
        </li>
        <li class="nav-item">
            <small><a class="nav-link text-muted" href="https://twitter.com/jhunschejones">Twitter</a></small>
        </li>
        <li class="nav-item">
            <small><a class="nav-link text-muted" href="http://www.joshuahunschejones.com">Blog</a></small>
        </li>
        <li class="nav-item">
            <small><a class="nav-link text-muted" href="mailto:contact@joshuahunschejones.com">Contact</a></small>
        </li>				
    </ul>
</footer>
<!-- END FOOTER -->