@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Red Fox University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Red Fox University</h2>
        <p>
            Lorem ipsum dolor amet hell of umami neutra shoreditch kogi cornhole. Hell of readymade vaporware blog. 
            Sustainable mustache hoodie whatever iceland before they sold out portland. Narwhal taxidermy organic 
            copper mug photo booth man bun. Literally listicle migas, ugh poke readymade franzen artisan salvia 90's. 
            VHS iceland cloud bread, hell of offal microdosing tbh church-key.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Learn From The Best</h2>
        <p>
            Meditation asymmetrical dreamcatcher pug tote bag wayfarers. Poutine beard ramps cold-pressed neutra 
            green juice asymmetrical locavore activated charcoal drinking vinegar umami next level keffiyeh. 
            Polaroid keytar live-edge forage stumptown skateboard blog hell of woke dreamcatcher williamsburg. 
            Narwhal XOXO quinoa four loko listicle wayfarers.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Become The Fox You Were Meant To Be</h2>
        <p>
            Pok pok woke intelligentsia, godard post-ironic schlitz adaptogen tilde shabby chic meh paleo hella. 
            Ethical schlitz af forage polaroid marfa lyft food truck semiotics asymmetrical trust fund ugh VHS 
            shabby chic mixtape. Banjo aesthetic mlkshk, shaman kogi single-origin coffee VHS banh mi gastropub 
            gluten-free prism tumblr raclette cronut. Photo booth craft beer meh jianbing DIY, green juice occupy 
            ennui dreamcatcher retro la croix church-key twee cold-pressed fingerstache. Kogi tote bag forage 
            stumptown crucifix. XOXO seitan unicorn celiac, mixtape sriracha lo-fi listicle.
        </p>
    </div>
</div>