@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Red Fox University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Red Fox University</h2>
        <p>Hammock kinfolk waistcoat, messenger bag gluten-free distillery plaid health goth ramps 
        dreamcatcher tbh. XOXO iceland fashion axe cardigan pickled. Ugh bushwick enamel pin offal 
        bicycle rights vape distillery. Mlkshk lyft knausgaard vexillologist ramps chillwave twee 
        umami. Kombucha vaporware waistcoat single-origin coffee, skateboard farm-to-table 
        williamsburg narwhal pitchfork man braid gentrify ramps.</p>
    </div>
    <div class="col-md-4">
        <h2>Learn From The Best</h2>
        <p>Lorem ipsum dolor amet distillery tumblr shaman truffaut, lyft listicle slow-carb ennui 
        knausgaard. Normcore tousled lyft shabby chic adaptogen pug cloud bread stumptown small 
        batch keffiyeh mumblecore tumeric skateboard. Narwhal slow-carb offal tumblr, butcher 
        coloring book snackwave. Brunch franzen VHS kitsch flannel roof party readymade. Typewriter 
        blog drinking vinegar freegan, skateboard 3 wolf moon microdosing hoodie live-edge. Jean 
        shorts drinking vinegar distillery tumeric, four dollar toast portland pitchfork pop-up 
        church-key tattooed ugh meggings keytar pabst.</p>
    </div>
    <div class="col-md-4">
        <h2>Become the Fox You Were Meant to Be</h2>
        <p>Pug helvetica kombucha kale chips blue bottle lomo. VHS taxidermy everyday carry 
        drinking vinegar selfies vaporware. Blog aesthetic ethical sartorial hammock woke, gentrify 
        occupy cardigan. Austin direct trade taiyaki, cronut chia truffaut cold-pressed portland 
        chicharrones gluten-free af try-hard craft beer.</p>
    </div>
</div>