<!doctype html>
<html lang="en">
	<!-- Header template with script and css tags -->
	<head><% include partials/template/head.ejs %></head>

	<body>
		<!-- Navbar template -->
		<% include partials/template/navbar.ejs %>

	<!-- PAGE CONTENT-->
		<div class="portfolio_spacer">

		</div>
		
		<!-- Portfolio content -->
		<% include partials/content/portfolio.ejs %>
		
		<!-- Footer template -->
		<% include partials/template/footer.ejs %>
	
	<!-- END PAGE CONTENT -->

		<!-- Scripts template -->
		<% include partials/template/bootstrapscripts.ejs %>
  	</body>
</html>