extends layout

block content
  h1.
    Our Family:
  ul
    each animal, i in animals
      li.
        #{animal.name}, a #{animal.age} year old #{animal.type}
  a(class='button', href='./newanimal') Add a new Friend!