extends layout

block content
  h1= title
  form#formAddAnimal(name="addanimal",method="post",action="/newanimal")
    input#inputAnimalName(type="text", placeholder="Name", name="animalname")
    input#inputAnimalAge(type="text", placeholder="Age", name="animalage")
    input#inputAnimalType(type="text", placeholder="Animal Type", name="animaltype")
    button#btnSubmit(type="submit") submit
  br
  a(class='button', href='./animals') Back to Family List