<!-- ABOUT ME -->
<a id="about"></a>
<div class="about_me">
    <div class="container">
        <h2>About Me:</h2>
        <div>
            <p>My name is Joshua Hunsche Jones and I am a software developer. I began my career studying cinema and media communications at George Fox University. Following my graduation, I worked in a project coordinator role at FedEx office then moved into the health care industry with several roles at Providence Health plan.</p>
            <p>In 2017, I stumbled onto the field of software development while working on a training project and I was hooked. The balance of the intense intellectual challenge, creative engagement, and detailed problem solving fit me perfectly. I immersed myself in coding books and enrolled at The Tech Academy, a software development boot camp in Portland, Oregon.</p>
            <p>With my experience building projects in HTML, CSS, C#, ASP.NET, Node.js and Express.js--as well as the team skills I gaind during my internship at Providence Health Plan, I have built a valuable skillset that I look forward to using as a full time developer in the Portland area.</p>
        </div>
    </div>
</div>
<!-- END ABOUT ME -->