<!-- EXPERIENCE -->
<div id="experience">
    <h2 class="experience_header">Experience</h2>
    <div class="jumbotron">
        <a title="HTML"><img src="./images/html.png"></a>
        <a title="CSS"><img src="./images/css.png"></a>
        <a title="JavaScript"><img src="./images/javascript.png"></a>
        <a title="Bootstrap"><img src="./images/bootstrap.png"></a>
        <a title="C#"><img src="./images/csharp.png"></a>
        <a title="Visual Studio 2015 & 2017"><img src="./images/visualstudio.png"></a>
        <a title="ASP.NET"><img src="./images/aspdotnet.png"></a>
        <a title="Microsoft SQL Server"><img src="./images/sql.png"></a>
        <a title="Node.js"><img src="./images/node.png"></a>
        <a title="Express.js"><img src="./images/expressjs.png"></a>
        <a title="MongoDB"><img src="./images/mongodb.png"></a>
        <a title="Jade (templating language)"><img src="./images/jade.png"></a>
        <a title="Git version control"><img src="./images/git.png"></a>
    </div>
</div>
<!-- END EXPERIENCE -->